p {
    margin-bottom: 1rem;
  }
  
  h1,
  h2,
  h3 {
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: min(10vw, 2.852rem);
  }
  
  h2 {
    font-size: min(7vw, 2.441rem);
  }
  
  h3 {
    font-size: min(6vw, 1.953rem);
  }
  
  code, blockquote {
    background-color: rgba(136, 210, 252, 0.2);
  }
  
  blockquote {
    margin: 0 0 0 3px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 0.5rem 1rem 0.5rem 2em;
    border-left: 2px solid #88d2fc;
  }
  
  figure {
    margin: 0;
    padding: 1rem 0;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  
  figcaption cite {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .sr-only, .btn.btn-icon-only .btn-label {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  
  small,
  .text_small {
    font-size: 0.8rem;
  }
  
  code {
    padding: 0 0.6rem 2px;
  }
  
  *:focus-visible, *:focus:not(:focus-visible) {
    outline: 2px solid #7f7f7f;
  }
  
  .shadow-low, .widget-container {
    box-shadow: var(--shadow-style);
  }

  
  /**
  
  for presentatin
  
  */
  .for-presentation.container {
    margin: 0.6rem 0;
  }
  .for-presentation.container button {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  
  .main {
    margin: 0 auto;
    padding: min(5%, 2.5rem) 0;
    justify-content: center;
    width: min(700px, 90%);
  }
  
  .typography {
    grid-row-end: span 2;
    -ms-grid-row-span: 2;
  }
  
  
  .btn {
    --button-color: lighten($colorCanvasInverted, 10%);
    --button-text-color: var(--app-text-color);
    box-sizing: border-box;
    font-family: inherit;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .btn-warning {
    --button-color: 
    #f2692f;
    --button-text-color: #fafbfc;
  }
  .btn-secondary {
    --button-color: #00060a;
    --button-text-color: #fafbfc;
  }
  .btn-group {
    display: inline-flex;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
  .btn-group > button, .btn-group > [class*=btn] {
    justify-content: flex-start;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    border: 1px solid #efefef;
  }
  .btn-group > button:first-child, .btn-group > [class*=btn]:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .btn-group > button:last-child, .btn-group > [class*=btn]:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .btn-group > button:hover, .btn-group > [class*=btn]:hover {
    position: relative;
    top: -1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  }
  .btn-group > button:focus, .btn-group > [class*=btn]:focus {
    outline: 0;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.2), inset -1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-group .btn + .btn {
    margin: 0;
  }
  .btn:disabled {
    --button-color: #e5e5e5;
    --button-text-color: #5a5a5a;
    color: rgba(90, 90, 90, 0.8);
    border: 1px solid rgba(218, 218, 218, 0.5);
    pointer-events: none;
  }
  .btn:focus {
    outline: 2px solid #551303;
  }
  .btn > .icon {
    font-size: 1em;
  }
  .btn > .icon ~ .btn-label {
    margin-left: 6px;
  }
  .btn.btn-icon-only:hover {
    background-color: rgba(7, 57, 86, 0.2);
  }
  .btn.btn-icon-only > .icon {
    font-size: 1.5rem;
  }
  .btn.btn-flat {
    box-shadow: none;
  }
  .btn.btn-icon-right {
    flex-direction: row-reverse;
  }
  .btn.btn-icon-right > .icon ~ .btn-label {
    margin-left: 0;
    margin-right: 4px;
  }
  
  a {
    color: #050e0f;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .main {
    margin: 0 auto;
    padding: min(5%, 2.5rem) 0;
    justify-content: center;
    width: min(90%, 600px);
  }
  
  .buttons {
    flex-direction: column;
  }
  
  /**
  @chrisbautista @codespud
  
  import 
  - https://codepen.io/chrisbautista/pen/ZEryzKx.scss
  - https://codepen.io/chrisbautista/pen/PoQjYJz.scss
  
  @usage
  
  clay - add claymorphic styling
  clay + btn:active - btn claymorphism clicked state
  
  @example
  
  <div class="clay" > ... </div>
  <button class="clay btn" >Button</div>
  
  **/
  .clay {
    --dark-inset-shadow: rgba(106, 115, 123, 0.25);
    --light-inset-shadow: rgba(255, 255, 255, 0.4);
    --clay-box-shadow: rgba(106, 115, 123, 0.55);
    --clay-background-color: #f1f2f3;
    --clay-fg-color: #000;
    background-color: var(--clay-background-color);
    box-shadow: 8px 8px 16px 0 var(--clay-box-shadow), inset -8px -8px 12px 0 var(--dark-inset-shadow), inset 8px 8px 12px 0 var(--light-inset-shadow);
    /* Light inset shadow */
    color: var(--clay-fg-color);
    border: 0;
  }
  
  .clay.btn {
    padding: 0.7rem 0.8rem;
  }
  .clay.btn:focus:not(:focus-visible) {
    outline: none;
  }
  .clay.btn:active, .clay.btn.clicked {
    box-shadow: 2px 2px 4px 0 var(--clay-box-shadow), inset -8px -8px 12px 0 var(--light-inset-shadow), inset 8px 8px 12px 0 var(--dark-inset-shadow);
    /* Light inset shadow */
  }
  
  .clay.btn-warning {
    --dark-inset-shadow: rgba(0, 0, 0, 0.25);
    --light-inset-shadow: rgba(194, 230, 250, 0.4);
    --clay-box-shadow: rgba(130, 60, 3, 0.55);;
    --clay-background-color: #e46e0e;
    --clay-fg-color: #f1f2f3;
  }
  
  .clay.btn-secondary {
    --dark-inset-shadow: rgba(3, 84, 130, 0.25);
    --light-inset-shadow: rgba(255, 255, 255, 0.4);
    --clay-box-shadow: rgba(130, 60, 3, 0.55);
    --clay-background-color: #141001;
    --clay-fg-color: #f1f2f3;
  }
  
  .clay.btn-group {
    --dark-inset-shadow: rgba(128, 128, 128, 0.25);
    --light-inset-shadow: rgba(255, 255, 255, 0.4);
    --clay-box-shadow: rgba(128, 128, 128, 0.55);
    --clay-background-color: #fff;
    --clay-fg-color: #f1f2f3;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .clay.btn-icon-only.btn:hover {
    background-color: var(--clay-background-color);
    
  }
  
  .btn + .btn {
    margin-left: 0.5rem;
  }
  
  .clay.buttons {
    --dark-inset-shadow: rgba(128, 128, 128, 0.25);
    --light-inset-shadow: rgba(255, 255, 255, 0.4);
    --clay-box-shadow: rgba(128, 128, 128, 0.55);
    --clay-background-color: #fff;
    --clay-fg-color: #f1f2f3;
  }
  
  .widget {
    width: max(90%, 500px);
  }