.container22 {
  display: flex !important;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  z-index: 1000;

}
.container33{
  position: relative;
  color: #fff;
}
.container22 .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container22 .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container22 .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skew(15deg);
  transition: 0.5s;
  filter: blur(30px);
  /* transition:0.5s; */
}

.container22 .box:hover:before,
.container22 .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container22 .box:nth-child(1):before,
.container22 .box:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.container22 .box:nth-child(2):before,
.container22 .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0000);
}
.container22 .box:nth-child(3):before,
.container22 .box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container22 .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.container22 .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  /* it has to be written like this not [backdrop-filter: blur(10px);] alone */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  opacity: 0;
  transition: 0.5s;
  animation: animate 2s linear infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container22 .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container22 .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  /* same note as ABOVE */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  opacity: 0;
  transition: 0.5s;
  animation: animate 2s linear infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}

.container22 .box:hover span::after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container22 .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* same note as ABOVE */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10p);

  z-index: 1;
  transition: 0.5s;
  color: #fff;
}

.container22 .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container22 .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container22 .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container22 .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}