.container h1 {
	text-align: center;
	/* margin-bottom: 80px; */
	color: rgba(235, 141, 11, 0.963);
    
}

.box66 {
    /* text-align: center; */
    /* align-items: center; */
	/* background-color: #0d0e0b; */
	padding: 20px 40px;
	border-radius: 30px;
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
	color: #f9f9f9;
	border-color: #e36504;
	backdrop-filter: blur(6px);
	border-style: solid;
	/* border-color: #92a8d1; */
}

ol {
	list-style: none;
	counter-reset: no-order-list;
    
}

li {
	counter-increment: op-order-list;
	margin-bottom: 10px;
	font-weight: 400;
	transition: transform 1.2s ease;
}

li::before {
	content: counter();
	width: 30px;
	height: 30px;
	margin-right: 10px;
	padding-left: 8px;
	padding-top: 4px;
	/* 	border-radius: 24% 76% 39% 61% / 0% 70% 30% 100%; */
	border-radius: 50% 50% 0% 50%;
	background: linear-gradient(135deg, #e7ac09 0%, #e36504 100%);
	color: #1d1e22;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	transition: border-radius 1s ease, background 2s ease;
}

li:hover {
	border-radius: 10px;
	transform: translatex(20px);
	font-weight: 700;
}

li:hover::before {
	background: linear-gradient(
		135deg,
		rgba(245, 177, 97, 1) 0%,
		rgba(236, 54, 110, 1) 100%
	);
	padding-left: 4px;
	border-radius: 0% 50% 50% 50%;
	color: #1d1e22;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	font-weight: 600;
	color: #1c1c1e;
}

.pens-light {
	color: #1a238f;
	text-decoration: none;
	background: linear-gradient(to right, #1a238f 60%, #ff3300 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
